<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Twitter Sentiment Search</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap-3.0.0/dist/css/bootstrap.css" rel="stylesheet">
    <script src="../static/page-logic.js"></script>
    <script src="../static/tweet_fetching.js"></script>

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap3-starter.css" rel="stylesheet">

</head>

<body onload="">


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Twitter Sentient Search</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="navSearch" class="active"><a href="javascript:showSearchResults()">Search</a></li>
                <li id="navMoreResults"><a href="javascript:showMoreSearchResults()">More Results</a></li>
                <li id="navAbout"><a href="javascript:showAbout()">About</a></li>
                <li id="navContact"><a href="javascript:showContact()">Contact</a></li>

            </ul>
            <form action="#" onsubmit="processInput();return false" class="navbar-form navbar-right">
                <div class="form-group">
                    <input autofocus="true" id="searchField" type="text" placeholder="Enter Search Query..."
                           class="form-control">
                </div>

                <button id="searchButton" type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
    </div>
</div>

<br>
<br>

<div id="welcomeMessage" class="text-area">
    <h4> Welcome to Twitter Sentiment Search, start typing a query to begin.
    </h4>
</div>

<div id="aboutMessage" class="text-area hide">
    <h4> More details
    </h4>
</div>

<div id="contactMessage" class="text-area hide">
    <h4> Written by luke De Feo whilst studying at the University of Birmingham, Special thanks to Mark Lee.
        <br> For comments, suggestions or bug reports Contact me at lmd223@bham.ac.uk
    </h4>
</div>

<div id="searchResultsContainer" class="container padded hide">

    <div id="posScore" class="col-md-6 text-center list-heading pos-heading">

    </div>
    <div id="negScore" class="col-md-6 text-center list-heading neg-heading">

    </div>
    <ul id="posList" class="list-unstyled col-md-6 myList">
    </ul>
    <ul id="negList" class="list-unstyled col-md-6 myList">
    </ul>
</div>

<div id="moreResultsContainer" class="container padded hide">

    <div id="objectiveHeader" class="col-md-6 text-center list-heading">
        Objective Tweets

    </div>
    <div id="notSureHeader" class="col-md-6 text-center list-heading">
        Unsure
    </div>
    <ul id="objList" class="list-unstyled col-md-6 myList">
    </ul>
    <ul id="unsureList" class="list-unstyled col-md-6 myList">
    </ul>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/jquery-1.7.1.min.js"></script>
<script src="../static/bootstrap-3.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
