<!DOCTYPE html>
<html>
<head>
    <title>Twitter Sentiment Analysis</title>

    <script src="../static/jquery-1.7.1.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/bootstrap-3.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="../static/twitter_icon.ico">

    <script>
        var running = false;
        var firstRun = true;
        var count = 0;
        var current_query = "";

        function processInput() {
            console.log("enter pressed")
            var search_query = $("#searchField").val();

            if (search_query == "") {
                return
            }

            if (search_query != current_query) {
                if(firstRun) {
                    firstRun = false
                } else {
                    //clear list
                    console.log("clear list");
                    $("#searchList").empty()
                    current_query = search_query
                }
            }
            fetch_recursive()
        }


        function writeToList(value) {
            $("#searchResults ul").append("<li class=\"list-group-item\">" + value.sentiment + value.guid + " " + value.text + "</li>")
        }

        function fetch_recursive() {
            var len = $("#searchList li").length;
            var search_query = $("#searchField").val();

            if (len > 20) {
                console.log("done");
                return
            }
            $.getJSON("/json", {q: search_query, start: len}, function (data) {
                console.log('Recieving JSON');
                $.each(data, function (key, value) {
                    writeToList(value)
                });
                setTimeout(fetch_recursive, 5000);
            });
        }


{#        $(document).scroll(function () {#}
{#            if ($(window).scrollTop() + $(window).height() == $(document).height()) {#}
{#                console.log("scroll fetch")#}
{#                fetch()#}
{#            }#}
{#        });#}



        function write_letters() {
            var items = document.getElementById("itemList");

            for (var i = 0; i < alphabet.length; i++) {
                var item = document.createElement("li");
                item.innerHTML = alphabet[i];
                items.appendChild(item);
            }

        }
    </script>
</head>

<body>
<div id="all">
    <div id="header">
        <h1 id="title-text">Twitter Sentiment Search</h1>

        <br>

        <input type="text"
               onkeydown="if (event.keyCode == 13) document.getElementById('searchButton').click()"
               size="35"
               class="span3 search-query"
               id="searchField"
               autocomplete="False"
               autofocus="autofocus">

        <button class="btn search-query"
                id="searchButton"
                onclick="processInput()">
            Search
        </button>

    </div>
    <hr>
    <div id="searchResults" class="inner-content">
        <ul class="list-group" id="searchList">
        </ul>
    </div>
</div>
</body>
</html>